.mdl-layout__header.transparent-header {
  box-shadow: none;
  background: none; }
  .mdl-layout__header.transparent-header .mdl-layout__header-row {
    padding: 0 30px; }

.mdl-navigation .mdl-navigation__link {
  opacity: .65; }
  .mdl-navigation .mdl-navigation__link:hover {
    opacity: 1; }

body {
  background-color: #c0392b;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum"; }
