<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body>
  <% include ../partials/navbar %>

  <main class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="corps-msg white-text">Hey there, and thanks for trying out Retrorand!</h1>
      </div>
    </div>
    <div class="row about-row">
      <div class="white-text">
        If there are any features you'd like to see, or if you've found a bug,
        report it on the Githib page, or reach out to me directly on my website.
        If you're interested in the magic that powers Retrorand, hit the Github link
        in the navbar (<i>spoiler: Node + Express + Gulp</i>). Likewise, if you want to know
        more about the library that finds/randomizes these games, check out
        <a class="white-text" href="https://www.npmjs.com/package/retro-game-names">
          <b class="white-text">retro-game-names</b>
        </a>
        on NPM.
      </div>
    </div>
  </main>

  <% include ../partials/footer %>

</body>
</html>
