<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body>

  <% include ../partials/navbar %>

  <main class="container retroapp">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="corps-msg white-text">Want to play a retro game, but don't know which one? We can help!</h1>
      </div>
    </div>
    <div class="row content-row">
      <div class="col s12 m4 l4">
        <div>
          <a class="waves-effect waves-light btn-large yellow darken-2 black-text"
              @click="roll">
            Random
          </a>
        </div>
        <div class="or-divider">
          <span>OR</span>
        </div>
        <div class="input-field">
          <input id="search" type="search" autocomplete="off">
          <label for="search">
            <i class="material-icons search">search</i>
          </label>
        </div>
        <div>
          <a class="waves-effect waves-light btn-large green lighten-1 white-text modal-trigger" href="#platforms">Filter Platforms</a>
        </div>
      </div>
      <div class="col s12 m8 l8 results-column">
        <div class="card-panel results">
          <section class="main" v-show="random.title" v-cloak>
            <div>{{random.title}}</div>
            <div>{{random.platform}}</div>
          </section>
        </div>
      </div>
    </div>
  </main>

  <div id="platforms" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <div class="col s2 m6 l6">
          <h4>Platforms</h4>
        </div>
        <div class="col s2 m2 l2">
          <a class="waves-effect waves-light btn yellow darken-2 black-text">Select All</a>
        </div>
        <div class="col s8 m4 l4">
          <div class="input-field">
            <input id="platform-search" type="search" autocomplete="off">
            <label for="platform-search">
              <i class="material-icons search">search</i>
            </label>
          </div>
        </div>
      </div>
      <% include ../partials/platforms %>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Done</a>
    </div>
  </div>

  <% include ../partials/footer %>

</body>
</html>
