<footer class="page-footer slim-footer blue-grey darken-3">
  <div class="footer-copyright">
    <div class="footer-container">
      <div class="left">
        © 2016 Georges-Antoine Assi. Built with <i class="fa fa-heart"></i> and Express.
      </div>
      <a class="grey-text text-lighten-4"
          target="_blank" href="https://www.npmjs.com/package/retro-game-names">
        retro-game-names
      </a>
      <a class="grey-text text-lighten-4 right"
          target="_blank" href="http://gantoine.com">
        gantoine.com
      </a>
      <a class="grey-text text-lighten-4 right"
          target="_blank" href="https://stackoverflow.com/users/story/1179430">
        <i class="fa fa-stack-overflow"></i>
      </a>
      <a class="grey-text text-lighten-4 right"
          target="_blank" href="https://github.com/GAntoine">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</footer>
