<footer class="page-footer slim-footer transparent">
  <div class="footer-copyright">
    <div class="container white">
      <div class="left">
        © 2016 Georges-Antoine Assi. Built with <i class="fa fa-heart"></i> and Express.
      </div>
      <div class="right">
        <a target="_blank" href="https://stackoverflow.com/users/story/1179430">
          <i class="fa fa-stack-overflow"></i>
        </a>
      </div>
      <div class="right">
        <a target="_blank" href="https://github.com/GAntoine">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
