<head>
  <meta charset="UTF-8">
  <title>Retrorand</title>
  <link rel="icon" href="static/images/favicon-gamepad.ico">

  <link rel="stylesheet" href="static/scss/app.css">
  <script src="https://use.fontawesome.com/e5ec7b10c1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
