<header class="mdl-layout__header transparent-header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title mdl-navigation__link" href="/">RandRetro</a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="/about" target="_blank">About</a>
      <a class="mdl-navigation__link" href="https://github.com/GAntoine/random-game-app">Github</a>
    </nav>
  </div>
</header>

