<nav class="white">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo brand-logo-small black-text">
      <img id="header-logo" alt="Gaggle Mail Logo" src="../static/images/random.png"/>
      <span>RETRORAND</span>
    </a>
  </div>
</nav>
