<nav class="white">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo brand-logo-small black-text">
      <img id="header-logo" alt="Gaggle Mail Logo" src="../static/images/random.png"/>
      <span>RETRORAND</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="tab col s3">
        <a class="black-text" href="/about">About</a>
      </li>
      <li>
        <a class="black-text" target="_blank" href="http://gantoine.com">
          Reach Out
        </a>
      </li>
      <li>
        <a class="black-text" target="_blank"
            href="https://github.com/GAntoine/random-game-app">
          Github
        </a>
      </li>
      <li>
        <a target="_blank" title="Powered by the retro-game-names library!"
            href="https://www.npmjs.com/package/retro-game-names"
            class="waves-effect waves-light btn red darken-3 white-text">
          NPM
        </a>
      </li>
    </ul>
  </div>
</nav>
