<div class="platform-collection">
  <div class="card-panel platform">
    <img src="/consoles/atari_lynx.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/famicom.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/game_boy_advance.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/game_boy_color.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/game_gear.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/gameboy.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/master_system_2.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/neo_geo.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/nes.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/nes_pc_engine.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/sega_mega_drive.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/sega_nomad.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/super_game_boy.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/super_nintendo.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/super_nintendo_snes.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform">
    <img src="/consoles/turbo_grafx_16.png"/>
    <div class="platform-name">Nintendo Entertainment System</div>
  </div>
</div>
<div class="platform-collection">
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
  <div class="card-panel platform-dry">
    <div>Nintendo Entertainment System</div>
  </div>
</div>
