@import 'footer';
@import 'navbar';
@import 'platforms';

@import 'home';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
}

main {
  flex: 1 0 auto;
}

.fade-transition {
  transition: all 0.4s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.fade-enter, .fade-leave {
  opacity: 0;
  visibility: hidden;
}

.materialboxed {
  width: 100%;
}
