footer.page-footer.slim-footer {
  padding-top: 17px;

  .footer-copyright {
    height: 53px;
  }
}

.footer-copyright .container {
  text-align: center;

  a {
    padding: 0 10px;
    color: white;
  }

  a:hover {
    color: darken(white, 10);
  }
}
