.footer-copyright .container {
  text-align: center;

  a {
    padding: 0 10px;
    color: white;
  }

  a:hover {
    color: darken(white, 10);
  }
}

footer.page-footer a {
  line-height: 3rem;

  :hover {
    color: darken(white, 10);
  }
}

