body {
  background-color: #B1B2D8;
  background-image: url('/static/images/super_mario.png');
  background-position: left bottom;
  background-repeat: repeat-x;
}

main.container {
  display: flex;
  flex-direction: column;

  .content-row {
    flex: 1;
    display: flex;
  }

  .about-row {
    font-size: 20px;
  }
}

.main-controls {
  a.yellow,
  a.green {
    width: 100%;
    margin: 1rem 0;
    z-index: 0;
  }
}

.main-controls .input-field input[type=search] {
  border-color: white;

  &~ label .search {
    color: white;
  }

  &~ label.active {
    -webkit-transform: none;
    transform: none;

    .search {
      color: #424242;
    }
  }
}

.search-results,
.platform-results {
  .collection-header h5 {
    text-transform: uppercase;
  }
}

.modal-content .input-field {
  margin-top: 0;

  label.active {
    -webkit-transform: none;
    transform: none;
  }

  #platform-search {
    margin-bottom: 0;
  }
}

.or-divider {
  border-top: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin: 2rem 0;
}

.or-divider > span {
  position: relative;
  top: -10px;
  background: #B1B2D8;
  padding: 0px 10px;
}

.corps-msg {
  line-height: 1.5em;
  margin-top: 2%;
  font-size: 2rem;
}

.results-column {
  display: flex;
  flex-direction: column;
}

.card-panel.results {
  margin: 1rem;
  opacity: 0.9;
  height: 100%;
  max-height: 100vh;
  overflow: scroll;
  transition: height 0.4s ease;
}

.boximage {
  max-width: 100%;
}

.game-title {
  font-size: 2rem;
}

.game-platform {
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.tgdb-results {
  padding-top: 1rem;
}

.search-results .collection.with-header .collection-header,
.collection .collection-item {
  cursor: pointer;
  transition: background-color 100ms ease;

  &:hover {
    background-color: darken(white, 5);
  }

  &:active {
    background-color: darken(white, 10);
  }
}

.random-results {
  text-align: center;
}

.small-collection {
  margin: 0.5rem 0 1rem 0;

  .small-item {
    padding-left: 1rem;
  }
}

.fetch-error {
  margin-left: 20px;
  font-size: 18px;
}
