body {
  background-color: #B1B2D8;
  background-image: url('/static/images/super_mario.png');
  background-position: left bottom;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

.input-field input[type=search] {
  border-color: white;

  &~ label .search {
    color: white;
  }

  &~ label.active {
    -webkit-transform: none;
    transform: none;

    .search {
      color: black;
    }
  }
}

.or-divider {
  border-top: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin: 2rem 0;
}

.or-divider > span {
  position: relative;
  top: -10px;
  background: #B1B2D8;
  padding: 0px 10px;
}

.corps-msg {
  line-height: 1.5em;
  margin-top: 2%;
  font-size: 25px;
}

a.yellow {
  width: 100%;
  margin-bottom: 20px;
}

.actions-row,
.results-column {
  display: flex;
}

.card-panel.results {
  margin: 0 0rem 1rem 2rem;
  opacity: 0.9;
  flex: 1;
}
