nav.transparent {
  box-shadow: none;
  -moz-box-shadow: none;
}

nav .brand-logo-small.black-text {
  font-size: 1.4rem;
  font-family: 'Press Start 2P', cursive;

  img {
    height: 25px;
    margin-top: 12px;
  }

  span {
    margin-left: -10px;
  }
}
